<template>
  <div class="custom-select" v-click-outside="hide">
    <div class="select" @click="open = !open">{{ selected.name }}</div>
    <div class="options" v-if="open">
      <div
        :class="{ option: true, selected: selected.key === option.key }"
        v-for="option in options"
        :key="option.key"
        @click="onClick(option)"
      >
        {{ option.name }}
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
