.custom-select {
  position: relative;
  &.admin-select {
    margin-bottom: 0;
  }
  .select {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 22px;

    width: 235px;
    height: 48px;

    border: 1px solid #343434;
    box-sizing: border-box;
    border-radius: 10px;
  }

  .options {
    position: absolute;
    padding: 16px 0;
    top: 48px;
    left: 0;
    z-index: 1;
    width: 235px;

    background: #262626;
    border-radius: 10px;
    cursor: pointer;

    .option {
      padding: 16px 22px;
      width: 191px;

      font-size: 16px;
      line-height: 19px;
      &:hover {
        background: #2e2e2e;
      }
      &.selected {
        background: linear-gradient(93.99deg, #345fff 0.77%, #9127fb 102.91%);
      }
    }
  }
}
.custom-select {
  position: relative;
  margin-bottom: 22px;
  &.user-select {
    background: #262626;
    text-indent: 16px;
    border-radius: 10px;
    font-size: 17px;
    color: #ffffff;
    .select {
      padding: 16px 22px;
      justify-content: start;
      width: 100%;
      padding: 16px 0px;

      border: none;
      box-sizing: border-box;
      border-radius: 10px;
    }
    .options {
      background-color: #1a1a1a;
      width: 100%;
      .option {
        width: calc(100% - 44px);
      }
    }
  }
}
