.CustomizedInput {
  width: 320px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  input {
    padding: 16px 0px;
    background-color: #262626;
    outline: none;
    background: #262626;
    border: none;
    text-indent: 16px;
    border-radius: 10px;

    color: #ffffff;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .error {
    display: inline-block;
    color: #ff6a6a;
    margin-top: 12px;
  }
  margin-bottom: 22px;
}
