<template>
  <div class="CustomizedInput">
    <span class="label" v-if="!!label">
      {{ label }}
    </span>
    <input
      :type="type"
      :placeholder="placeholder"
      v-model="innerText"
      @input="onInput"
      :style="styles"
      autocomplete="new-password"
    />
    <span class="error" v-if="!!isValidation"> {{ isValidation }} </span>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
