<template>
  <div class="LessonPage">
    <div class="head">
      <span class="title">{{ titleText }}</span>
    </div>

    <form class="page-body" v-if="!loading" @submit.prevent="onGo">
      <div class="col">
        <!-- <div class="CustomizedInput">
          <input class="inputLessonAdd" placeholder="Выберите категорию" v-model.trim="lessonData.category" />
        </div> -->
        <CustomSelect :options="options" class="user-select" @onClick="changeCategory" />
        <div class="CustomizedInput">
          <input class="inputLessonAdd" placeholder="Название" v-model="lessonData.name" />
          <span class="error" v-if="!$v.lessonData.name.$error"> {{ nameErrorHandler() }} </span>
        </div>
        <textarea class="shortDesc" placeholder="Краткое описание" v-model.trim="lessonData.description" />
        <span class="error" v-show="!$v.lessonData.description.$error"> {{ descriptionErrorHandler() }}</span>

        <textarea
          class="longDesc"
          placeholder="Полное описание (под видео)"
          v-model.trim="lessonData.fullDescription"
        />
        <span class="error" v-show="!$v.lessonData.fullDescription.$error"> {{ fullDescriptionErrorHandler() }}</span>
      </div>
      <div class="col">
        <div class="CustomizedInput">
          <input
            :class="{ 'is-invalid': submitted && $v.lessonData.price.$dirty }"
            class="inputLessonAdd"
            placeholder="Цена"
            type="number"
            v-model.trim="lessonData.price"
          />
          <span class="error" v-if="!$v.lessonData.price.$error"> {{ priceErrorHandler() }} </span>
        </div>
        <div class="CustomizedInput">
          <input
            :class="{ 'is-invalid': submitted && $v.lessonData.author.$dirty }"
            class="inputLessonAdd"
            placeholder="Автор"
            v-model.trim="lessonData.author"
          />
          <span class="error" v-if="!$v.lessonData.author.$error"> {{ authorErrorHandler() }} </span>
        </div>
        <div class="CustomizedInput">
          <input
            :class="{ 'is-invalid': submitted && $v.lessonData.telegram.$dirty }"
            class="inputLessonAdd"
            placeholder="Telegram автора"
            v-model.trim="lessonData.telegram"
          />
          <span class="error" v-if="!$v.lessonData.telegram.$error"> {{ telegramErrorHandler() }} </span>
        </div>
        <div class="CustomizedInput">
          <input
            :class="{ 'is-invalid': submitted && $v.lessonData.instagram.$dirty }"
            class="inputLessonAdd"
            placeholder="Instagram автора"
            v-model.trim="lessonData.instagram"
          />
          <span class="error" v-if="!$v.lessonData.instagram.$error"> {{ instagramErrorHandler() }} </span>
        </div>
        <div class="CustomizedInput">
          <input
            :class="{ 'is-invalid': submitted && $v.lessonData.youtube.$dirty }"
            class="inputLessonAdd"
            placeholder="YouTube автора"
            v-model.trim="lessonData.youtube"
            :isValidation="youtubeErrorHandler()"
          />
          <span class="error" v-if="!$v.lessonData.youtube.$error"> {{ youtubeErrorHandler() }} </span>
        </div>
        <span class="label">Код для встраивания видео с Ютуб</span>
        <textarea class="youtubeLink" :placeholder="placeholder" v-model.trim="lessonData.youtubeCode" />
        <span class="error" v-show="!$v.lessonData.youtubeCode.$error"> {{ youtubeCodeErrorHandler() }}</span>

        <div class="warning">
          Обратите внимание, что ваш канал на ютубе должен быть закрыт и доступен только по ссылке, это условие
          обязательно!
        </div>
        <div class="actions">
          <div class="back" @click="onBack">Отмена</div>
          <CustomButton type="submit" :value="goButtonText" />
        </div>
      </div>
    </form>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
