.LessonPage {
  margin: 0 0 0 300px;
  max-width: 1366px;
  padding: 16px 42px;

  background-color: #1f1f1f;
  min-height: calc(100vh - 32px);
  .head {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    margin-top: 14px;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 18px;
    color: #ffffff;
  }
  .page-body {
    width: 100%;
    left: 338px;
    top: 86px;
    display: grid;
    grid-template-columns: 50% 50%;
    background: #1a1a1a;
    border-radius: 20px;
    .inputLessonAdd {
      max-width: 100%;
      width: 100%;
    }
    .col {
      padding: 24px;
      .empty {
        width: 374px;
        height: 47px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 22px;
        background-color: transparent;
      }
    }
    textarea {
      font-size: 16px;
      max-width: 100%;
      font-weight: 400;
      resize: none;
      padding: 14px 16px;
      padding: 16px;
      background-color: #262626;
      outline: none;
      width: 95%;
      background: #262626;
      border: none;
      border-radius: 10px;
      color: #ffffff;
      &::placeholder {
        font-size: 16px;
        font-weight: 400;
      }
      &.shortDesc {
        max-width: 100%;
        height: 163px;

        margin-bottom: 22px;
      }
      &.longDesc {
        max-width: 100%;
        height: 287px;
      }
      &.youtubeLink {
        margin-top: 12px;
        max-width: 100%;
        height: 158px;

        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: white;
        &::placeholder {
          color: #7b7b7b;
        }
      }
    }
  }
}
.label {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #ffffff;
}
.warning {
  margin-top: 23px;
  border: 1px solid #b53131;
  box-sizing: border-box;
  border-radius: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #ffffff;
  padding: 16px 42px;
}

.actions {
  margin-top: 32px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  .back {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 52px;
    height: 52px;
    width: 100px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
    margin-right: 32px;
    transition: 0.3s;
    border-radius: 10px;
    &:hover {
      background: #1f1f1f;
    }
  }
}

::v-deep {
  .CustomButton {
    width: 286px;
  }
}
.CustomizedInput {
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input {
    padding: 16px 0px;
    background-color: #262626;
    outline: none;
    background: #262626;
    border: none;
    text-indent: 16px;
    border-radius: 10px;
    font-size: 17px;

    color: #ffffff;
    &::placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
    }
  }
  margin-bottom: 22px;
}
.error {
  display: inline-block;
  color: #ff6a6a;
  margin-top: 12px;
}
