.User {
  width: 320px;
}

.title {
 
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #aaaaaa;
  margin-bottom: 24px;
}
::v-deep {
  .CustomInput {
    margin-bottom: 22px;
  }
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
