<template>
  <div class="Admin Login">
    <div class="Form">
      <div class="logo">
        <span class="step">STEP</span>
        <span class="by">by</span>
        <span class="step">STEP</span>
      </div>
      <span class="title">Панель управления</span>
      <CustomInput
        type="email"
        placeholder="Почта"
        @onInput="$event => changeValue('email', $event)"
        :isValidation="emailValidation()"
      />
      <CustomInput
        type="password"
        placeholder="Пароль"
        @onInput="$event => changeValue('password', $event)"
        :isValidation="submited && !$v.loginData.password.required ? 'Обязательное поле' : undefined"
      />
      <CustomButton value="Войти" @onClick="onLogin" />
      <div class="error" v-if="error">Почта или пароль введены неверно</div>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
