.Admin {
  width: 320px;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 135px;
  height: 22px;

  font-style: normal;
  font-weight: bold;
  font-size: 24.8px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 10px;

  .by {
    width: 14.88px;
    height: 14.88px;

    font-style: normal;
    background: -webkit-linear-gradient(93.99deg, #5774ff 0.77%, #9127fb 102.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 12.4px;
    line-height: 15px;
    text-shadow: 0px 2px 4px rgb(113 80 253 / 58%);
    margin-bottom: 8px;
  }
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #aaaaaa;
  margin-bottom: 24px;
}
::v-deep {
  .CustomInput {
    margin-bottom: 22px;
  }
}
.Form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  text-align: center;
  display: inline-block;
  color: #ff6a6a;
  margin-top: 12px;
}
