<template>
  <button class="CustomButton" :type="type" :class="{ secondary: !!type }" @click="onClick">
    {{ value }}
  </button>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
