.CustomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(93.99deg, #345fff 0%, #9127fb 100%);
  box-sizing: border-box;
  box-shadow: 0px 25px 20px -7px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 16px 18px;
  color: #ffffff;
  transition: 0.3s;
  &:hover {
    box-shadow: none;
    cursor: pointer;
  }
}
.secondary {
  border: 1px solid;
  background: #1a1a1a;
  border-image-source: linear-gradient(93.99deg, #345fff 0.77%, #9127fb 102.91%);
  border-image-slice: 2;
  border-radius: 10px;
}
