.lessonRow {
  display: flex;
  width: 100%;
  padding: 16px 0px;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s;
  border-bottom: 1px solid #151515;
  &:hover {
    background: #151515;

    .actions {
      transition: all 300ms ease-in-out;
      opacity: 1;
    }
  }
  .short-desc {
    width: 30%;
  }
  .image {
    width: 170px;
    height: 93px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .title {
    width: 15%;
  }
  .price {
    width: 7%;
    text-align: center;
  }
  .actions {
    transition: all 300ms ease-in-out;
    opacity: 0;
    width: 14%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
    cursor: pointer;
    user-select: none;
    .action {
      border-radius: 5px;
      width: 52px;
      height: 52px;
      transition: 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      div {
        height: 25px;
        width: 25px;
        background-repeat: no-repeat;
        background-position: center;
      }
      &.edit {
        background: #355eff;
        div {
          background-image: url(~@/assets/icons/edit.svg);
        }
        &:hover {
          transform: translateY(-5px);
        }
      }
      &.delete {
        background-color: #fe4646;

        div {
          background-image: url(~@/assets/icons/delete.svg);
        }
        &:hover {
          transform: translateY(-5px);
        }
      }
    }
  }
}
