<template>
  <div class="lessonRow">
    <div class="image" :style="`background-image: url(${imageForLesson()});`"></div>
    <div class="title">{{ item.name }}</div>
    <div class="short-desc">{{ item.description }}</div>
    <div class="price">{{ item.price }} ₽</div>
    <div class="actions">
      <div class="action edit" @click="onEdit">
        <div></div>
      </div>
      <div class="action delete" @click="onDelete">
        <div></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
