<template>
  <div class="bgPanel">
    <Header />
    <SidebarLeft />
    <router-view></router-view>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
