<template>
  <button :disabled="disabled" class="button button-round button--red">
    <slot />
  </button>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
