
$c-primary-accent--dark: #dd8346;

@mixin sizing($args, $prefix: '') {
  $width: if(length($args) == 2, nth($args, 1), $args);
  $height: if(length($args) == 2, nth($args, 2), $args);

  #{$prefix}width: $width;
  #{$prefix}height: $height;
}

@mixin center($position) {
  display: flex;

  @if $position == 'both' {
    align-items: center;
    justify-content: center;
  } @else if $position == 'vertical' {
    align-items: center;
  } @else if $position == 'horizontal' {
    justify-content: center;
  } @else if $position == 'none' {
    align-items: stretch;
    justify-content: flex-start;
  }
}

.button {
  outline: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  width: 42px;
  height: 42px;

  &[disabled] {
    opacity: 0.3;
    cursor: default;
  }

  background: #151515;
  border-radius: 5px;
  border: none;
}
