<template>
  <div class="ProfilePage">
    <div class="head">
      <span class="title">Мой профиль</span>
    </div>
    <div class="ProfileBody">
      <div class="email-container">
        <span class="label">Ваш логин (email)</span>
        <div class="email">{{ email }}</div>
      </div>
      <div class="UserData">
        <div class="col">
          <span class="label">Сменить пароль?</span>

          <CustomInput
            placeholder="Старый пароль"
            @onInput="$event => changeValue('passwordOld', $event)"
            width="374px"
            :isValidation="oldErrorHandler()"
          />
          <CustomInput
            placeholder="Новый пароль"
            @onInput="$event => changeValue('password', $event)"
            width="374px"
            :isValidation="passwordErrorHandler()"
          />
          <CustomInput
            placeholder="Повторите пароль"
            @onInput="$event => changeValue('passwordConfirm', $event)"
            width="374px"
            :isValidation="confirmErrorHandler()"
          />
        </div>
        <div class="col">
          <span class="label">Мои контакты</span>

          <CustomInput
            placeholder="Telegram"
            @onInput="$event => changeValue('telegramm', $event)"
            width="374px"
            :value="UserData.telegramm"
            :isValidation="telegramErrorHandler()"
          />
          <CustomInput
            placeholder="Whatsapp"
            @onInput="$event => changeValue('whatsapp', $event)"
            width="374px"
            :value="UserData.whatsapp"
            :isValidation="whatsappErrorHandler()"
          />
        </div>
      </div>
      <div class="actions">
        <div class="back" @click="onBack">Отмена</div>
        <CustomButton value="Сохранить" @onClick="onSave" />
      </div>
      <div class="error" v-if="error">Старый пароль неверный</div>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
