.ProfilePage {
  margin: 0 0 0 300px;
  padding: 16px 42px;
  max-width: 1366px;

  background-color: #1f1f1f;
  height: calc(100vh - 32px);
  z-index: 1;

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    color: #ffffff;
  }
  .email-container {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
    .email {
      margin-top: 7px;
    }
  }
  .label {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 10px;

    color: #c0c0c0;
  }
  .ProfileBody {
    padding: 22px 16px 32px 16px;
    margin-top: 27px;
    width: 825px;
    background: #1a1a1a;
    border-radius: 20px;
    .UserData {
      margin-top: 32px;
      display: flex;
      .col {
        width: 374px;
        &:nth-child(1) {
          padding-right: 45px;
        }
      }
    }
    .actions {
      padding-top: 10px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      ::v-deep {
        .CustomButton {
          max-width: 229px;
        }
      }
      .back {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 52px;
        height: 52px;
        width: 100px;
        text-align: center;
        color: #ffffff;
        cursor: pointer;
        user-select: none;
        margin-right: 32px;
        transition: 0.3s;
        border-radius: 10px;
        &:hover {
          background: #1f1f1f;
        }
      }
    }
  }
  .error {
    text-align: center;
    display: inline-block;
    color: #ff6a6a;
    margin-top: 12px;
  }
}
