<template>
  <div class="Form">
    <div class="logo">
      <span class="step">STEP</span>
      <span class="by">by</span>
      <span class="step">STEP</span>
    </div>
    <span class="title">Панель управления</span>
    <CustomInput
      placeholder="Email"
      @onInput="$event => changeValue('email', $event)"
      type="email"
      :isValidation="emailValidation()"
    />
    <CustomInput
      placeholder="Логин"
      @onInput="$event => changeValue('login', $event)"
      :isValidation="submit && !$v.registerData.login.required ? 'Обязательное поле' : undefined"
    />
    <CustomInput
      placeholder="Пароль"
      @onInput="$event => changeValue('password', $event)"
      type="password"
      :isValidation="submit && !$v.registerData.password.required ? 'Обязательное поле' : undefined"
    />
    <CustomButton value="Зарегистрироваться" @onClick="onRegister" />
    <CustomButton value="Уже есть аккаунт?" @onClick="onLogin" type="secondary" />
    <div v-if="loginError">Такая почта уже используется</div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
