::v-deep {
  .CustomButton {
    &.secondary {
      margin-top: 22px;
    }
  }
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #aaaaaa;
  margin-bottom: 24px;
}
.error {
  display: inline-block;
  color: #ff6a6a;
  margin-top: 12px;
}
