.title {
 
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #aaaaaa;
  margin-bottom: 24px;
}
.forgot-pass {
  cursor: pointer;
  margin-top: 22px;
 
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;

  color: #ffffff;
}
::v-deep {
  .CustomButton {
    &.secondary {
      margin-top: 22px;
    }
  }
}
