<template>
  <div class="Form">
    <div class="logo">
      <span class="step">STEP</span>
      <span class="by">by</span>
      <span class="step">STEP</span>
    </div>
    <span class="title">Панель управления</span>
    <CustomInput
      placeholder="Email"
      type="email"
      @onInput="$event => changeValue('email', $event)"
      :isValidation="emailValidation()"
    />
    <CustomInput
      placeholder="Пароль"
      type="password"
      @onInput="$event => changeValue('password', $event)"
      :isValidation="submited && !$v.loginData.password.required ? 'Обязательное поле' : undefined"
    />
    <CustomButton value="Войти" @onClick="onLogin" />
    <CustomButton value="Зарегестрироваться" @onClick="onRegister" type="secondary" />

    <div class="error" v-if="loginError">Неверные Email или пароль</div>
    <div class="forgot-pass" @click="onPassword">Забыли пароль?</div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
