.Sidebar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #1a1a1a;
  .head {
    width: 100%;
    height: 86px;

    background: #1a1a1a;
    box-shadow: 0px 22px 20px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 135px;
      font-style: normal;
      font-weight: bold;
      font-size: 24.8px;
      line-height: 31px;
      color: #ffffff;

      .by {
        width: 14.88px;
        height: 14.88px;
        margin-bottom: 9px;

        font-style: normal;
        background: -webkit-linear-gradient(93.99deg, #5774ff 0.77%, #9127fb 102.91%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        // color: linear-gradient(93.99deg, #5774ff 0.77%, #9127fb 102.91%);

        font-weight: bold;
        font-size: 12.4px;
        line-height: 15px;

        text-shadow: 0px 2px 4px rgba(113, 80, 253, 0.58);
      }
    }
  }

  .body {
    padding-left: 42px;
    padding-right: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 86px - 88px);
    .nav {
      .link {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #c0c0c0;
        &.active {
          color: #ffffff;
        }
        span {
          padding: 11px 0;
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #c0c0c0;
      span {
        padding: 11px 0;
      }
    }
  }

  .foot {
    position: absolute;
    width: 100%;
    height: 68px;
    left: 0px;
    bottom: 0;

    background: #1a1a1a;
    box-shadow: 0px -22px 20px -14px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
      color: #b0b0b0;
      &:first-child {
        padding-bottom: 10px;
      }
    }
  }
}
