<template>
  <div class="Sidebar">
    <div class="head">
      <div class="logo">
        <span class="step">STEP</span>
        <span class="by">by</span>
        <span class="step">STEP</span>
      </div>
    </div>

    <div class="body">
      <div class="nav">
        <div :class="{ link: true, active: link.active }" v-for="(link, index) in links" :key="index">
          {{ link.name }}
        </div>
      </div>
      <div class="links">
        <span> Связь с нами</span>
        <span> Политика конфиденциальности</span>
        <span> Договор оферты</span>
      </div>
    </div>
    <div class="foot">
      <span>Stepbystep.io © 2021 </span>
      <span>Все права защищены</span>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
