<template>
  <div class="Form">
    <div class="logo">
      <span class="step">STEP</span>
      <span class="by">by</span>
      <span class="step">STEP</span>
    </div>
    <template v-if="!success">
      <span class="title">Восстановление пароля</span>
      <div class="password-container">
        <CustomInput
          placeholder="Email"
          @onInput="$event => changeValue('email', $event)"
          type="email"
          :isValidation="emailErrorHandler()"
        />
      </div>
    </template>
        <CustomButton value="Восстановить пароль" @onClick="onRestore" />
        <span class="notification">Вам на почту придет письмо с ссылкой для восстановления</span>
        <div class="forgot-pass" @click="onPassword">Вспоминили пароль?</div>
        <div class="error" v-if="error">Такая почта не зарегистрирована</div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
