<template>
  <div class="UserPage">
    <!-- v-if="loading" -->
    <div class="loader" v-if="loading">
      <Loader />
    </div>
    <div v-if="!loading">
      <div class="head">
        <span class="title">{{ lessonByID.name }}</span>
        <p class="subtitle_text">{{ lessonByID.description }}</p>
      </div>
      <div class="content custom-scroll">
        <div class="video">
          <div class="lesson-body">
            <div class="lesson-body__video" :class="{ not_payment: lessonByID.price > 0 }" v-if="lessonByID.price > 0">
              <span>Вы можете открыть доступ к этому уроку всего за {{ lessonByID.price }} ₽</span>
              <button class="pay" @click="onPay">
                <div class="icon" />
                Получить знания
              </button>
            </div>

            <iframe class="lesson-body__video" v-if="lessonByID.price < 1" :src="link" />
          </div>
        </div>
        <div class="text-content">
          <div class="lesson-body__links">
            <div class="lesson-body__button" @click="onFavoriteClick">
              <div class="lesson-body__icon" :class="{ checked: lessonByID.isFavorite }" />
              {{ buttonText }}
            </div>
            <div class="lesson-body__social">
              <span class="lesson-body__author">Автор: {{ lessonByID.author }}</span>
              <div class="lesson-body__container_telegram" @click="changeLocation(lessonByID.telegramm)">
                <div class="lesson-body__link_telegram icon" />
              </div>
              <div class="lesson-body__container_instagram" @click="changeLocation(lessonByID.whatsapp)">
                <div class="lesson-body__link_instagram icon" />
              </div>
              <div class="lesson-body__container_youtube" @click="changeLocation(lessonByID.youtube)">
                <div class="lesson-body__link_youtube icon" />
              </div>
            </div>
          </div>
          <div class="lesson-body__description description_margin" v-if="lessonByID.price !== 0">
            Купите этот урок что бы открыть доступ к описанию
          </div>
          <div class="lesson-body__description description_margin" v-if="lessonByID.price === 0">
            <div v-html="lessonByID.full_description" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
