.UserPage {
  margin: 0 528px 0 300px;
  padding: 16px 42px;
  max-width: 1366px;
  background-color: #1f1f1f;
  z-index: 1;
  min-height: calc(100vh - 32px);

  .head {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: #ffffff;
  }
}
.loader {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  transition: 2s ease-out;
}

.subtitle_text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  /*flex-wrap: wrap;*/
}

.content {
  height: calc(100vh - 121px);
  overflow-y: auto;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1a1a1a;
  color: #fff;
}

.lesson-body__video {
  width: 99.5%;
  height: 600px;

  &.not_payment {
    width: 100%;

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      text-align: center;
      max-width: 419px;
      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 30px;
    }
    .pay {
      width: 294px;
      height: 46px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(93.99deg, #2addbd 0.77%, #1fc025 102.91%);
      border: 1px solid rgba(255, 255, 255, 0.1);
      box-sizing: border-box;
      box-shadow: 0px 25px 20px -7px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      text-align: center;

      color: #ffffff;

      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      .icon {
        width: 25px;
        height: 25px;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(~@/assets/icons/Squircle.svg);
        margin-right: 16px;
       
      }
    }
  }
}

.lesson-body__links {
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.lesson-body__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 22px;
  min-width: 247px;
  height: 48px;
  border: 1px solid #343434;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
}

.lesson-body__icon {
  background-image: url(~@/assets/icons/Heart.svg);
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-position: top;
  &.checked {
    background-image: url(~@/assets/icons/Heart2.svg);
  }
}

.lesson-body__social {
  width: auto;
  min-width: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .icon {
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

.description_margin {
  margin-top: 20px;
}

.lesson-body__container_telegram {
  margin-left: 8px;
  margin-left: 8px;

  border-radius: 50%;
  background: linear-gradient(180deg, #26aaeb 0%, #219ed8 100%);
  box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.25);
}

.lesson-body__container_instagram {
  margin-left: 8px;
  margin-left: 8px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: linear-gradient(147.53deg, #5344c2 -2.95%, rgba(83, 68, 194, 0) 41.32%),
    linear-gradient(43.58deg, #fbd45d 2.29%, #e44734 26.75%, #cd2c78 65.18%, #ad2e87 96.87%);
  box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.25);
}

.lesson-body__container_youtube {
  margin-left: 8px;
  margin-left: 8px;

  border-radius: 50%;
  background: linear-gradient(180deg, #e52d27 0%, #c0181d 100%);
  box-shadow: 0px 7px 15px -4px rgba(0, 0, 0, 0.25);
}

.lesson-body__link_telegram {
  background-image: url(~@/assets/icons/Telegram.png);
}

.lesson-body__link_instagram {
  background-image: url(~@/assets/icons/Instagram.png);
}

.lesson-body__link_youtube {
  background-image: url(~@/assets/icons/Youtube.png);
}
.text-content {
  max-width: calc(100% - 48px);
  background-color: #1a1a1a;
  max-width: calc(100% - 48px);
  padding: 12px 24px;
}
