<template>
  <span class="base-pagination-trigger" @click="onClick">
    <div>
      {{ pageNumber }}
    </div>
  </span>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
