.base-pagination-trigger {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: start;
  align-items: center;

  border: 1px solid;
  background: transparent;
  border-image-source: linear-gradient(93.99deg, #345fff 0.77%, #9127fb 102.91%);
  border-image-slice: 2;
  div {
    width: 100%;
    text-align: center;
  }
}
.base-pagination__description--current {
  background: linear-gradient(93.99deg, #345fff 0.77%, #9127fb 102.91%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 25px 20px -7px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
