<template>
  <div class="Form">
    <div class="logo">
      <span class="step">STEP</span>
      <span class="by">by</span>
      <span class="step">STEP</span>
    </div>
    <span class="title">Восстановление пароля</span>
    <div class="password-container">
      <CustomInput
        placeholder="Новый пароль"
        @onInput="$event => changeValue('password', $event)"
        type="password"
        :isValidation="passwordErrorHandler()"
      />
      <CustomInput
        placeholder="Повторите пароль"
        @onInput="$event => changeValue('confirm', $event)"
        type="password"
        :isValidation="confirmErrorHandler()"
      />
      <CustomButton value="Восстановить пароль" @onClick="onRestore" />
      <span class="notification">Не теряйте больше пароль, будьте внимательны!</span>
      <span class="error" v-if="this.error">Ссылка на востановение устарела
        
      </span>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
