.title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #aaaaaa;
  margin-bottom: 24px;
}
.forgot-pass {
  cursor: pointer;
  margin-top: 22px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;

  color: #ffffff;
}
.notification {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;

  color: #aaaaaa;
  margin-top: 32px;
}
.password-container {
  display: flex;
  flex-direction: column;
}
.error {
  text-align: center;
  display: inline-block;
  color: #ff6a6a;
  margin-top: 12px;
}
