<template>
  <div class="UserLayout bgPanel">
    <Header />
    <SidebarLeft />
    <SidebarRight v-if="$route.name !== 'user_profile'"/>
    <router-view></router-view>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
