.Sidebar {
  right: 0;
  position: fixed;
  height: 100vh;
  width: 528px;
  background-color: #1a1a1a;

  .head {
    padding: 17px 42px;
    background: #1a1a1a;
    box-shadow: 0px 22px 20px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .route-to-profile {
      width: 173px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      user-select: none;
      span {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #ffffff;
      }
      div {
        height: 10px;
        width: 15px;
        background-image: url(~@/assets/icons/arrow.svg);
      }
    }
    .name-container {
      display: flex;
      align-items: center;
      .name-icon {
        margin-left: 10px;
        width: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 52px;
        border: double 1px transparent;
        border-radius: 50%;
        background-image: linear-gradient(#121212, #121212), linear-gradient(93.99deg, #345fff 0.77%, #9127fb 102.91%);
        background-origin: border-box;
        background-clip: content-box, border-box;

        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 35px;

        color: #ffffff;
      }
      .name {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #ffffff;
      }
    }
  }
  .options {
    background: #1a1a1a;
    box-shadow: 0px 14px 20px 2px rgba(0, 0, 0, 0.25);
    .toggler-container {
      padding: 3px;
      margin: 21px 42px 17px 42px;
      background: #151515;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .option {
        cursor: pointer;
        user-select: none;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 46px;
        box-sizing: border-box;
        border-radius: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        transition: all 1s ease-out;

        &.active {
          border: 1px solid rgba(255, 255, 255, 0.1);
          transition: all 300ms ease-out;

          background: linear-gradient(93.99deg, #345fff 0.77%, #9127fb 102.91%);
          &:hover {
            box-shadow: 0px 25px 20px -7px rgba(0, 0, 0, 0.15);
          }
        }
      }
    }
    .list-head {
      padding: 15px 42px;
      border-top: 1px solid #1f1f1f;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #ffffff;
      }
      .favor {
        height: 15px;
        width: 18px;
        background-image: url(~@/assets/icons/Heart.svg);
        background-position: -3px -5px;
        cursor: pointer;
        user-select: none;
        &.checked {
          background-image: url(~@/assets/icons/Heart2.svg);
        }
      }
    }
  }

  .lessons-list {
    &.loader {
      display: flex;
      justify-content: center;
    }
    margin: 12px 0;
    overflow-y: auto;
    height: calc(100vh - 229px);
    .lesson {
      height: 150px;
      padding: 12px 42px;
      background-color: transparent;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: #151515;
      }

      .title {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin: 10px;

        color: #ffffff;
      }
      .content {
        display: flex;
        height: 100%;
        align-items: center;

        width: 100%;
        .lesson-image {
          width: 40%;
          width: 170px;
          height: 93px;
          background-color: transparent;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .shortDesc {
          width: 60%;
          margin-left: 10px;

          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          max-height: 120px;
          height: fit-content;

          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 17px;

          color: #ffffff;
        }
      }
    }
  }
}
