<template>
  <div class="Sidebar">
    <div class="head">
      <div class="name-container">
        <span class="name">{{ name }}</span>
        <div class="name-icon">
          {{ firstLetter }}
        </div>
      </div>
      <div class="route-to-profile" @click="() => $router.push({ name: 'user_profile' })">
        <span>Перейти в профиль</span>
        <div></div>
      </div>
    </div>
    <div class="options">
      <div class="toggler-container">
        <template v-for="(option, key) in options">
          <div :class="{ active: option.active, option: true }" :key="key" @click="() => onToggle(option.key)">
            {{ option.value }}
          </div>
        </template>
      </div>
      <div class="list-head">
        <span>Список уроков</span>
        <div :class="{ favor: true, checked: isFavor }" @click="toggleFavor" />
      </div>
    </div>
    <div
      class="lessons-list custom-scroll"
      v-infinite-scroll="loadNext"
      infinite-scroll-disabled="loading"
      infinite-scroll-immediate-check="false"
      infinite-scroll-distance="3"
    >
      <div class="lesson" v-for="lesson in items" :key="lesson.id" @click="onClick(lesson.id)">
        <span class="title">{{ lesson.name }}</span>
        <div class="content">
          <div
            class="lesson-image"
            :style="`background-image: url(${imageForLesson(lesson.youtubeCode)});`"
            :alt="lesson.name"
          />
          <div class="shortDesc">{{ lesson.description }}</div>
        </div>
      </div>
      <Loader v-if="loading" />
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
