.base-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;

  &__description {
    display: flex;
    margin: 0 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &--current {
      color: #ffffff;
    }
  }

  .arrow-left {
    transform: rotateZ(180deg);
  }
}
