@font-face {
  font-family: 'Gilroy';
  font-weight: 800;
  src: url(../fonts/GilroyBold.ttf);
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url(../fonts/GilroySemibold.ttf);
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url(../fonts/GilroyMedium.ttf);
}
@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url(../fonts/GilroyRegular.ttf);
}
