@import './fonts.scss';
@import 'toastr/toastr.scss';

* {
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: Gilroy;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 135px;
  height: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 24.8px;
  line-height: 31px;
  color: #ffffff;
  margin-bottom: 10px;

  .by {
    width: 14.88px;
    height: 14.88px;
    font-style: normal;
    background: -webkit-linear-gradient(93.99deg, #5774ff 0.77%, #9127fb 102.91%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 12.4px;
    line-height: 15px;
    text-shadow: 0px 2px 4px rgb(113 80 253 / 58%);
    margin-bottom: 8px;
  }
}
.custom-scroll {
  scrollbar-color: #292929 transparent;
  scrollbar-width: 4px;

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    width: 6px;
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px #292929;
  }
}
