<template>
  <div class="AdminPage">
    <div class="head">
      <span class="title"> Список уроков </span>
      <div class="btnAddLesson">
        <CustomButton value="+ Добавить новый урок" @onClick="addNewLesson" />
      </div>
    </div>
    <div class="LessonTable">
      <div class="filters">
        <div class="filter">
          <span class="title">По категории</span>
          <CustomSelect :options="options" class="admin-select" @onClick="changeCategory" />
        </div>
        <div class="filter">
          <span class="title">По названию</span>
          <CustomInput
            class="inputName"
            placeholder="Введите название"
            :value="foundQuery"
            @onInput="setFoundQuery"
            width="182px"
          />
        </div>
      </div>
      <div class="table-head">
        <div class="img">Обложка</div>
        <div class="name">Название</div>
        <div class="shortDesc">Краткое описание</div>
        <div class="price">Стоимость</div>
        <div class="actions">Действие</div>
      </div>
      <div class="table-body" :class="{ loading }">
        <template v-if="loading"><Loader /></template>

        <template v-if="!loading">
          <template v-for="item in lessons">
            <LessonRow :item="item" :key="item.id" />
          </template>
        </template>
      </div>
      <div class="footer">
        <BasePagination
          :current-page="page"
          :page-count="pageCount"
          :visiblePagesCount="visiblePagesCount"
          class="articles-list__pagination"
          @nextPage="pageChangeHandle('next')"
          @previousPage="pageChangeHandle('previous')"
          @loadPage="pageChangeHandle"
        />
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./index.ts" />
<style lang="scss" src="./index.scss" scoped />
