.AdminPage {
  margin: 0 0 0 300px;
  padding: 16px 42px;
  max-width: 1366px;

  background-color: #1f1f1f;
  min-height: calc(100vh - 32px);

  .btnAddLesson {
    width: 280px;
  }
  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;

    color: #ffffff;
  }

  .LessonTable {
    font-style: normal;
    background: #1a1a1a;
    padding: 22px 0px;
    margin-top: 16px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    color: #ffffff;
    .table-head {
      display: flex;
      padding: 22px 0px;
      margin-top: 12px;
      justify-content: space-evenly;
      background: #151515;
      text-align: center;
      .shortDesc {
        width: 30%;
      }
      .price {
        width: 7%;
      }
      .actions {
        width: 14%;
      }
      .img {
        width: 170px;
      }
      .name {
        width: 15%;
      }
    }
    .filters {
      display: flex;
      justify-content: flex-start;
      column-gap: 32px;
      padding: 0px 22px;
      .filter {
        display: flex;
        align-items: center;
        column-gap: 8px;
        .inputName {
          margin-bottom: 0;
        }
        select {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 16px 22px;
          border-radius: 8px;
          outline: none;
          -webkit-appearance: none;
          appearance: none;
          left: 479px;
          top: 104px;
          background: transparent;
          color: #fff;
          border: 1px solid #343434;
          box-sizing: border-box;
        }
        select:not(:-internal-list-box) {
          background-color: buttonface;
          overflow: hidden !important;
        }
      }
    }
    .table-body {
      display: grid;
      &.loading {
        display: flex;
        justify-content: center;
      }
    }
  }
  .selectInput {
    option {
      background-color: #1a1a1a;
      padding: 16px 22px;
    }
  }
  .footer {
    margin-top: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-right: 16px;
  }
}
